/*Todo: Add typkit */

body{
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:$font-color-gray;
  strong{
    font-weight: 600;
  }
}
/* Futura Medium - Main Navigation
font-family: futura-pt, sans-serif;
font-style: normal;
font-weight: 500;

*/


/* Futura Book - Utility Nav
font-family: futura-pt, sans-serif;
font-style: normal;
font-weight: 400;
 */

/* Futura Demi - Bread Crumbs & title over image

font-family: futura-pt, sans-serif;
font-style: normal;
font-weight: 600;



*/



/*

Futura Bold - title under Featured Image
font-family: futura-pt-bold, sans-serif;
font-style: normal;
font-weight: 700;

*/