/*TODO: Karina - Add in the variables */
/*************************************************************

Table of Contents

1. Colors
2.
3.

 */


$background-utility-nav: #0f3860;
$background-nav-primary: #3aa8b7;
$background-footer:#0c2e4e;
$background-search:#1d4f80;
$font-color-primary:#FFFFFF;
$font-color-gray: #0f171c;
$font-color-links:#143c64;
$white: #FFFFFF;
$black: #000000;
$background-purple-transparency: 118, 39, 93, .75;

$breadcrumbing-bgcolor: "4,7,6";
$breakcrumbs-transparency:.75;
$background-purple-button:#5d2a4c;
$border-radius:20px;

$purple: #76275d;
$blue: #0F3860;

$max-width:1136px;
$default-padding: 3%;
$mobile-default-padding: $default-padding *2;